- unless @meals.length == 0
  %ul
    - @meals.each do |m|
      %li 
        =link_to m.name, meal_path(m)
        =link_to image_tag(m.meal_photo.thumb.url), meal_path(m)
        - if m.user == current_user
          =link_to "Edit", edit_meal_path(m)
- else
  %p
    No meals!
