%header#header 
  =link_to "Twenty Food Seven", root_path, :id => "logo"
  %ul#nav 
    - unless user_signed_in? 
      %li
        =link_to "Sign Up", new_user_registration_path, :class => "button"
      %li
        =link_to "Sign In", new_user_session_path, :class => "button"
    - else
      %li
        =link_to current_user.name, edit_user_registration_path, :class => 'bevan'
      %li
        =link_to "My Meals", meals_path(:user => current_user.id), :class => "button"
      %li
        =link_to "Add Meal", new_meal_path, :class => "button"
      %li
        =link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "button"

